.event__card {
  background-color: var(--card-color);
  width: max-content;
  border-radius: 1rem;
  transition: all;
  transition-duration: 0.3s;
  &:hover {
    transform: scale(1.1);
  }
  &-image {
    img {
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    .event__card-heading {
      display: flex;
      justify-content: space-between;
      .event__card-series {
        color: var(--orange);
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
      }
      .event__card-top {
        color: var(--accent-color3);
        text-transform: uppercase;
        font-size: 0.7rem;
      }
    }
    .event__card-details {
      display: flex;
      justify-content: space-between;
      color: var(--accent-color1);
      .event__card-title {
      }
      .event__card-price {
        display: flex;
        gap: 1rem;
        img {
        }
        h4 {
        }
      }
    }
    .event__card-sub-details {
      display: flex;
      justify-content: space-between;
      span {
        margin-top: 0.2rem;
        color: var(--accent-color3);
        font-size: 0.8rem;
        max-width: 16rem;
      }
    }
  }
  &--button {
    &__container {
      margin: 0.2rem auto;
    }
    &__button {
    }
  }
  &--container {
    display: flex;
  }
}

.center {
  border: red 2px solid;
}
